.EN "[your name]" "[pan]" "[class]" "[dept]" "[srd]" "[years]"
.AP "[from]" "[to]" "[date]"
.OV [rating]
[ supervisor's comments go here ]
.SS "[your supervisor]" "[your manager]"
.C1
[ column 1 text here ]
.C2
[ column 2 text here ]
.C3 [rating]
\" PUT AS MANY .C1/.C2/.C3 MACROS IN HERE AS YOU NEED
.DA
[ developmental action plan goes here ]
